.payPage {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 75rem;
    height: 30rem;
    background-color: white;
    z-index: 5;
    border: black solid 3px;
    padding: 1rem;
}