/* 
* © 2022 Muunatic. All rights reserved.
*/

* {
    user-select: none !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -o-user-select: none !important;
    -ms-user-select: none !important;
    font-family: 'Poppins', sans-serif;
}

body {
    user-select: none;
    letter-spacing: 1px;
    color: #14142B;
}

p {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: none;
}

hr {
    color: white;
}

input[type="checkbox"] {
    position: absolute;
    opacity: 0;
}

input[type="range"]::-moz-range-track {
    height: 10px;
    background: #D2D1D1;
    border-radius: 100px;
}

input[type="range"]::-moz-range-progress {
    height: 10px;
    border-radius: 100px;
    background: #21B7E2;
}

input[type="range"]::-moz-range-thumb {
    border-radius: 100%;
    width: 10px;
    height: 10px;
    background-color: #D2D1D1;
    outline: 1px solid #D2D1D1;
    border: 7px solid white;
}

.rangeValue {
    margin-left: 1rem;
}

.hrstyle {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.main {
    overflow: hidden;
    max-width: 100%;
}

.mainNavbar {
    overflow: hidden;
    padding-top: 2.5rem;
    padding-right: 5rem;
    padding-left: 5rem;
    padding-bottom: 2.5rem;
}

.mainNavbar .mainNavbarLeft {
    float: left;
}

.mainNavbar .mainNavbarLeft .navbarLeft {
    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;
    vertical-align: middle;
    font-weight: bold;
}

.mainNavbar .mainNavbarLeft .navbarLeft .logoLaundryku {
    vertical-align: middle;
    width: 256px;
}

.mainNavbar .mainNavbarRight {
    padding: 1.25rem;
    float: right;
}

.mainNavbar .mainNavbarRight .navbarRight {
    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;
    vertical-align: middle;
    font-weight: bold;
}

.mainNavbar .mainNavbarRight .navbarRight .navbarOther {
    margin-top: auto;
    margin-bottom: auto;
    vertical-align: middle;
    display: inline-block;
}

.mainNavbar .mainNavbarRight .navbarRight .navbarOther p {
    margin-top: auto;
    margin-bottom: auto;
    vertical-align: middle;
    display: inline-block;
    margin-left: 32px;
}

.mainNavbar .mainNavbarRight .navbarRight .navbarLoginRegister {
    cursor: pointer;
    color: white !important;
    margin-left: 32px;
    background-color: #21B7E2;
    border-radius: 10px;
    display: inline-block;
    transition: ease 0.5s;
}

.mainNavbar .mainNavbarRight .navbarRight .navbarLoginRegister:hover {
    box-shadow: 0px 0px 20px 1px #21B7E2;
}

.mainNavbar .mainNavbarRight .navbarRight .navbarLoginRegister p {
    color: white !important;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.mainNavbar .mainNavbarRight .navbarRight .navbarLoginRegister a {
    color: white !important;
}

.mainContent {
    margin-left: 112px;
    margin-right: 112px;
    margin-bottom: 5rem;
}

.mainContent .mainTitle {
    margin-bottom: 5rem;
}

.mainContent .mainTitle p {
    font-weight: 900;
    font-size: 56px;
}

.mainContent .mainInput p {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 10px;
}

.mainContent .mainInput input {
    border-radius: 20px;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 2.5rem;
    padding-right: 1rem;
    outline: none;
    border: solid 1px silver;
}

.mainContent .mainServices {
    margin-top: 30px;
}

.mainContent .mainServices .serviceTitle {
    font-size: 20px;
    font-weight: 700;
    margin-top: 10px;
}

.mainContent .mainServices .servicesBox::before {
    content: ''; 
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
}

.mainContent .mainServices .servicesBox {
    display: inline-block;
    margin-top: 10px;
    width: 140px;
    height: max-content;
    margin-right: 30px;
    background-color: #E7FAFF;
    position: relative;
    vertical-align: top;
    text-align: center;
    border-radius: 20px;
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
}


.mainContent .mainServices .servicesBox .divLabel {
    display: inline-block;
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
}

.mainContent .mainServices .servicesBox * {
    cursor: pointer !important;
}

.mainContent .mainServices .servicesBox .optionImg {
    padding: 0.5rem;
}

.mainContent .mainServices .servicesBox .optionImg .checkbox-img {
    width: 80px;
    height: 80px;
    object-fit: contain;
}

.mainContent .mainServices .servicesBox .checkbox-label {
    padding: 0rem;
    font-size: 15px;
}

.mainContent .mainServices .servicesBox .checkbox-label2 {
    padding: 0.5rem;
    font-size: 15px;
}

.mainContent .mainDelivery {
    margin-top: 30px;
}

.mainContent .mainDelivery .deliveryTitle {
    font-size: 20px;
    font-weight: 700;
    margin-top: 10px;
}

.mainContent .mainDelivery .deliveryBox {
    display: inline-block;
    margin-top: 10px;
    width: 140px;
    height: max-content;
    margin-right: 30px;
    background-color: #E7FAFF;
    position: relative;
    vertical-align: top;
    text-align: center;
    border-radius: 20px;
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
}

/* .mainContent .mainDelivery .deliveryBox::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
} */

.mainContent .mainDelivery .deliveryBox * {
    cursor: pointer;
}

.mainContent .mainDelivery .deliveryBox .divLabel {
    display: inline-block;
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
}

.mainContent .mainDelivery .deliveryBox .optionImg {
    padding: 1rem;
}

.mainContent .mainDelivery .deliveryBox .optionImg .checkbox-img {
    width: 80px;
    height: 80px;
    object-fit: contain;
}

.mainContent .mainDelivery .deliveryBox .checkbox-label {
    padding: 0rem;
    font-size: 15px;
    height: 48px;
}

.mainContent .mainDelivery .deliveryBox .checkbox-label2 {
    padding: 1rem;
    font-size: 15px;
}

.mainContent .mainTransaction {
    width: 50%;
    margin-top: 40px;
}

/* 
.mainContent .mainTransaction .mainTitleTransaction p {
    font-size: 32px;
    font-weight: 900;
} */

.mainContent .mainTransaction .mainTitleTransaction p {
    font-size: 20px;
    font-weight: 700;
}

.mainContent .mainTransaction .mainDescTransaction {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 10px;
}

.mainContent .mainTransaction .mainDescTransaction .leftDesc {
    text-align: left;
}

.mainContent .mainTransaction .mainDescTransaction .leftDesc p {
    font-size: 16px;
}

.mainContent .mainTransaction .mainDescTransaction .rightDesc {
    text-align: right;
}

.mainContent .mainSubmit {
    cursor: pointer;
    background-color: #21B7E2;
    border-radius: 30px;
    width: 50%;
    padding: 15px;
    margin-top: 50px;
    transition: ease 0.5s;
}

.mainContent .mainSubmit:hover {
    box-shadow: 0px 0px 20px 1px #21B7E2;
}

.mainContent .mainSubmit p {
    color: white;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
}